.modal-header {
  background-color: var(--ion-color-primary);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectable-flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selectable-overflow-auto {
  overflow: auto;
}
