<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Offline</ion-card-subtitle>
                <ion-card-title>Farmer Data</ion-card-title>
              </ion-card-header>
          <ion-card-content>
            <ion-row>
              
            <ion-text color="primary">
                This page helps you keep the offline data of farmers up to date by clicking the button
              </ion-text>
            </ion-row>
            <ion-row>
              
            <ion-button>Update Farmer Data</ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
