<div class="item item-divider item-assertive bgheader" style="white-space: normal;">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <img class="app-icon ion-margin-end" src="assets/icons/rcmph-icon.png">
      <ion-text class="ion-hide-sm-up" [innerHTML]="'Rice Crop Manager <br> Advisory Service' + mobilePageAndVersion"></ion-text>
      <ion-text class="ion-hide-sm-down" [innerHTML]="'Rice Crop Manager Advisory Service' +  desktopPageAndVersion"></ion-text>
    </ion-row>
  </ion-grid>
</div>