ion-col {
    border-bottom: 1px solid #a0a0a0;
}

.error {
    background: #fafafa;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: red;
    box-shadow: inset 1px 1px 1px #a0a0a0;
}
