<ion-header>
    <ion-toolbar color="default">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/data-admin/farmer-management/farmer-list']">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="item item-divider item-assertive ion-padding bgheader ion-text-center" style="white-space: normal;">
        GPX BATCH UPLOAD
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-row *ngIf="!isUploading">
          <app-file-upload [isMultiple]="true" [roleId]="roleId" componentId="fileBatchUpload" (fileChange)="onFileChange($event)"></app-file-upload>
        </ion-row>
        <app-gpx-upload (uploading)="hasUploaded($event)" componentId="gpxBatchUpload" [fileListMetadata]="fileListMetadata"></app-gpx-upload>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
