.col-title {
    border: 1px solid lightgray;
    font-weight: bold;
  }
  
  .col {
    border: 1px solid lightgray;
  }

  .st-action{
    color: #939393;
  }

  a:hover{
    cursor:pointer !important;
    color: #328553 !important;
    text-decoration: underline !important;
  }
  