ion-button {
    --color: #686868;
    --color-hover: #686868;
    --color-focused: #686868;
    --color-activated: #686868;
    --border-radius: 6px;
    --border-color: #979797;
    --border-width: 1px;
}