agm-map{
    height: 500px
}

.col-title {
    border: 1px solid lightgray;
    font-weight: bold;
}
  
.col {
    border: 1px solid lightgray;
}

.poly1-text {
    color: red;
}

.poly2-text {
    color: #00ffff;
}