<ion-grid>
    <ion-row>

        <ion-col>
            <div>
                <ion-list>
                    <ion-item>
                        <ion-col size="9"> Registered Farmer </ion-col>
                        <ion-col class="ion-text-right"> {{ count.farmer_add }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> Registered Farm Lot </ion-col>
                        <ion-col class="ion-text-right"> {{ count.field_add }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> Updated Farmer </ion-col>
                        <ion-col class="ion-text-right"> {{ count.farmer_edit }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> Updated Farm Lot </ion-col>
                        <ion-col class="ion-text-right"> {{ count.field_edit }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> GPX Uploaded </ion-col>
                        <ion-col class="ion-text-right"> {{ count.gpx_upload }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> Farmer ID Printed </ion-col>
                        <ion-col class="ion-text-right"> {{ count.farmer_id_print }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> Farmer List Downloaded </ion-col>
                        <ion-col class="ion-text-right"> {{ count.farmer_list_download }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> Farmer Deleted </ion-col>
                        <ion-col class="ion-text-right"> {{ count.farmer_delete }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> Farm Lot Deleted </ion-col>
                        <ion-col class="ion-text-right"> {{ count.field_delete }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> GPX Deleted </ion-col>
                        <ion-col class="ion-text-right"> {{ count.gpx_delete }} </ion-col>
                    </ion-item>
                    <ion-item>
                        <ion-col size="9"> GPX Replaced </ion-col>
                        <ion-col class="ion-text-right"> {{ count.gpx_replace }} </ion-col>
                    </ion-item>
                </ion-list>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>